In [10]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import pandas as pd
from selenium.webdriver.chrome.options import Options
import os
from selenium.webdriver import ActionChains
from selenium.common.exceptions import NoSuchElementException
from IPython.display import display, clear_output
import ipywidgets as widgets
import tkinter as tk
from tkinter import filedialog
from PyQt5.QtWidgets import QApplication, QMainWindow, QPushButton
import sys
import re
import zipfile #extract zip file
import requests
from bs4 import BeautifulSoup
table = pd.read_csv('ACSDP1Y2022.DP02-Data.csv', header = 1)
table = table[['Geography', 'Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Average family size', 'Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household!!With children of the householder under 18 years','Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree','Estimate!!PLACE OF BIRTH!!Total population!!Foreign born',"Percent!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree","Percent!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree",'Estimate!!SCHOOL ENROLLMENT!!Population 3 years and over enrolled in school!!College or graduate school']]
table = table.rename(columns={'Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Average family size': 'famSize22'})
table = table.rename(columns={'Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Average family size': 'famSize22'})
table = table.rename(columns={'Estimate!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree': 'gradDeg22'})
table = table.rename(columns={'Estimate!!PLACE OF BIRTH!!Total population!!Foreign born': 'immig22'})
table = table.rename(columns={"Percent!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree": 'pBach22'})
table = table.rename(columns={"Percent!!EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Graduate or professional degree": 'pGrad22'})
table = table.rename(columns={"Estimate!!SCHOOL ENROLLMENT!!Population 3 years and over enrolled in school!!College or graduate school": 'uGrad10'})
table = table.rename(columns={"Estimate!!HOUSEHOLDS BY TYPE!!Total households!!Married-couple household!!With children of the householder under 18 years": 'fert22'})
columns_to_modify = ['famSize22','fert22','gradDeg22','immig22','pBach22','pGrad22','uGrad10']
table[columns_to_modify] = table[columns_to_modify].fillna(0)
output_file = '2022_DP02.csv'
table.to_csv(output_file, index=False)
input_file = 'ACSDP1Y2022.DP02-Data.csv'
os.remove(input_file )
table #no undergraduate student number, it combine undergrate with graduate school

/var/folders/1n/7d_rynhd4xqg_dytyg39s0vm0000gn/T/ipykernel_21425/3045834953.py:22: DtypeWarning: Columns (71,72,100,101,124,125,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,930,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,994,997,998,999,1000,1001,1002,1003,1004,1005,1006,1009) have mixed types. Specify dtype option on import or set low_memory=False.
  table = pd.read_csv('ACSDP1Y2022.DP02-Data.csv', header = 1)

,Geography,famSize22,fert22,gradDeg22,immig22,pBach22,pGrad22,uGrad10
0,0100000US,3.11,22997383.0,32267301.0,46182177.0,21.6,14.0,21135532.0
1,0500000US01003,2.92,18113.0,23523.0,9310.0,20.3,13.2,9720.0
2,0500000US01015,3.02,5013.0,5017.0,2383.0,14.7,6.4,6972.0
3,0500000US01043,2.95,7415.0,4551.0,2361.0,13.0,7.2,3573.0
4,0500000US01049,3.19,4195.0,2848.0,5048.0,7.7,5.9,2974.0
...,...,...,...,...,...,...,...,...
844,0500000US72113,0.00,0.0,0.0,0.0,0.0,0.0,0.0
845,0500000US72127,0.00,0.0,0.0,0.0,0.0,0.0,0.0
846,0500000US72135,0.00,0.0,0.0,0.0,0.0,0.0,0.0
847,0500000US72137,0.00,0.0,0.0,0.0,0.0,0.0,0.0
848,0500000US72139,0.00,0.0,0.0,0.0,0.0,0.0,0.0