In [12]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import pandas as pd
from selenium.webdriver.chrome.options import Options
import os
from selenium.webdriver import ActionChains
from selenium.common.exceptions import NoSuchElementException
from IPython.display import display, clear_output
import ipywidgets as widgets
import tkinter as tk
from tkinter import filedialog
from PyQt5.QtWidgets import QApplication, QMainWindow, QPushButton
import sys
import re
import zipfile #extract zip file
import requests
from bs4 import BeautifulSoup
table = pd.read_csv('ACSDT1Y2022.B14004-Data.csv', header = 1)
table = table[['Geography', 'Estimate!!Total:!!Male:!!Enrolled in public college or graduate school:','Estimate!!Total:!!Female:!!Enrolled in public college or graduate school:']]
columns_to_modify = ['Estimate!!Total:!!Male:!!Enrolled in public college or graduate school:',
                     'Estimate!!Total:!!Female:!!Enrolled in public college or graduate school:'
                    ]
table[columns_to_modify] = table[columns_to_modify].fillna(0)
table['Total Enrolled in Public College or Graduate School'] = table[columns_to_modify ].sum(axis=1)
table = table.rename(columns={'Total Enrolled in Public College or Graduate School': 'grad22'}) #adding male and female together to get total 
table.drop(columns=columns_to_modify , inplace=True)
output_file = '2022_B14004.csv'
table.to_csv(output_file, index=False)
input_file = 'ACSDT1Y2022.B14004-Data.csv'
os.remove(input_file)
table

          Geography   grad22
0    0500000US01003   7087.0
1    0500000US01015      0.0
2    0500000US01043      0.0
3    0500000US01049   2666.0
4    0500000US01051   3043.0
..              ...      ...
843  0500000US72113   5335.0
844  0500000US72127  11605.0
845  0500000US72135   1177.0
846  0500000US72137   2383.0
847  0500000US72139      0.0

[848 rows x 2 columns]